server:
  port: 8081

spring:
    datasource:
        name: dataSource 
        url: jdbc:mysql://127.0.0.1:3306/novel 
        username: root 
        password: 123456 
        type: com.alibaba.druid.pool.DruidDataSource 
        driverClassName: com.mysql.jdbc.Driver 
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20

mybatis:
  mapper-locations: classpath:/mapper/*.xml  
  type-aliases-package: com.example.demo.model

author:
   name: lei
   age: 24231
   sex: boy
   
#配置分页插件pagehelper
pagehelper:
    helperDialect: mysql
    reasonable: flase
    supportMethodsArguments: true
    params: count=countSql
  
page: 19