<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Post" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="author_url" property="authorUrl" jdbcType="VARCHAR" />
    <result column="author_url_md5" property="authorUrlMd5" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="reply_num" property="replyNum" jdbcType="BIGINT" />
    <result column="last_reply_time" property="lastReplyTime" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, url, author, author_url, author_url_md5, type, reply_num, last_reply_time, 
    add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from post
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Post" >
    insert into post (id, title, url, 
      author, author_url, author_url_md5, 
      type, reply_num, last_reply_time, 
      add_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{authorUrl,jdbcType=VARCHAR}, #{authorUrlMd5,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{replyNum,jdbcType=BIGINT}, #{lastReplyTime,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="authorUrl != null" >
        author_url,
      </if>
      <if test="authorUrlMd5 != null" >
        author_url_md5,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="replyNum != null" >
        reply_num,
      </if>
      <if test="lastReplyTime != null" >
        last_reply_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorUrl != null" >
        #{authorUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorUrlMd5 != null" >
        #{authorUrlMd5,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        #{replyNum,jdbcType=BIGINT},
      </if>
      <if test="lastReplyTime != null" >
        #{lastReplyTime,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Post" >
    update post
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorUrl != null" >
        author_url = #{authorUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorUrlMd5 != null" >
        author_url_md5 = #{authorUrlMd5,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        reply_num = #{replyNum,jdbcType=BIGINT},
      </if>
      <if test="lastReplyTime != null" >
        last_reply_time = #{lastReplyTime,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Post" >
    update post
    set title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      author_url = #{authorUrl,jdbcType=VARCHAR},
      author_url_md5 = #{authorUrlMd5,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      reply_num = #{replyNum,jdbcType=BIGINT},
      last_reply_time = #{lastReplyTime,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <insert id="insertListPost" parameterType="java.util.List">
  	insert into post
	  (title,url,author,author_url,author_url_md5,type,reply_num,last_reply_time,add_time) 
	values
	<foreach collection="list" item="item" index="index" separator=",">
	  (#{item.title},#{item.url},#{item.author},#{item.authorUrl},#{item.authorUrlMd5},#{item.type},#{item.replyNum},#{item.lastReplyTime},#{item.addTime})
	</foreach> 
	on duplicate key update 
 	title=values(title),url=values(url),author=values(author),author_url=values(author_url),author_url_md5=values(author_url_md5),type=values(type),reply_num=values(reply_num),last_reply_time=values(last_reply_time)
  </insert>
  
  <select id="getListPost"  resultMap="BaseResultMap">
  	select * from post
  </select>
</mapper>